---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/boards?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Sprint%20Board
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.830.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1481805652919'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f8-2c04b7e5"
    body:
      encoding: UTF-8
      string: '{"id":"58528f54314dfadfe96ab6db","name":"Sprint Board","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/kvmkTeKt/sprint-board","shortUrl":"https://trello.com/b/kvmkTeKt","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#0079BF","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Thu, 15 Dec 2016 12:40:57 GMT
- request:
    method: post
    uri: https://api.trello.com/1/lists?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Sprint%20Backlog&closed=false&idBoard=58528f54314dfadfe96ab6db&pos=&idListSource=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.830.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1481805653163'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"78-943f1122"
    body:
      encoding: UTF-8
      string: '{"id":"58528f55a3a704dcda4697f8","name":"Sprint Backlog","closed":false,"idBoard":"58528f54314dfadfe96ab6db","pos":8192}'
  recorded_at: Thu, 15 Dec 2016 12:40:57 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/labels?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Sticky&color=&idBoard=58528f54314dfadfe96ab6db
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.830.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1481805654439'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c-607e883f"
    body:
      encoding: UTF-8
      string: '{"id":"58528f5671f929225f27b6c1","idBoard":"58528f54314dfadfe96ab6db","name":"Sticky","color":null,"uses":0}'
  recorded_at: Thu, 15 Dec 2016 12:40:58 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/labels?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Under%20waterline&color=&idBoard=58528f57bd62cab95263d9fb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.830.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1481805656640'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75-17430a65"
    body:
      encoding: UTF-8
      string: '{"id":"58528f58b3b2cd9ea0934ae5","idBoard":"58528f57bd62cab95263d9fb","name":"Under
        waterline","color":null,"uses":0}'
  recorded_at: Thu, 15 Dec 2016 12:41:00 GMT
recorded_with: VCR 3.0.3
