---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/boards?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Sprint%20Board
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.830.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1481806141111'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f8-83c3272b"
    body:
      encoding: UTF-8
      string: '{"id":"5852913d30bae88848711bbe","name":"Sprint Board","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/sihGCNcp/sprint-board","shortUrl":"https://trello.com/b/sihGCNcp","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#0079BF","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Thu, 15 Dec 2016 12:49:01 GMT
- request:
    method: post
    uri: https://api.trello.com/1/lists?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Sprint%20Backlog&closed=false&idBoard=5852913d30bae88848711bbe&pos=&idListSource=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.830.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1481806141606'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"78-edd10c50"
    body:
      encoding: UTF-8
      string: '{"id":"5852913dd9a6c09737ef519f","name":"Sprint Backlog","closed":false,"idBoard":"5852913d30bae88848711bbe","pos":8192}'
  recorded_at: Thu, 15 Dec 2016 12:49:01 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/labels?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Sticky&color=&idBoard=5852913d30bae88848711bbe
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.830.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1481806143550'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c-39319d15"
    body:
      encoding: UTF-8
      string: '{"id":"5852913fa168edce5e6dd9ac","idBoard":"5852913d30bae88848711bbe","name":"Sticky","color":null,"uses":0}'
  recorded_at: Thu, 15 Dec 2016 12:49:03 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/labels?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Under%20waterline&color=&idBoard=58529140c1dcf8695ff1a548
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.830.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1481806147150'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75-61c10bf0"
    body:
      encoding: UTF-8
      string: '{"id":"585291433d29a06cea5247a2","idBoard":"58529140c1dcf8695ff1a548","name":"Under
        waterline","color":null,"uses":0}'
  recorded_at: Thu, 15 Dec 2016 12:49:07 GMT
recorded_with: VCR 3.0.3
