---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/boards?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Pairing+Board
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - '318'
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1524843946819'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"347-DmNXbhDdRvX5/GuEPqQEssiUnVY"
    body:
      encoding: UTF-8
      string: '{"id":"5ae345aac374e6711d50a596","name":"Pairing Board","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/UAUzYfm8/pairing-board","shortUrl":"https://trello.com/b/UAUzYfm8","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#0079BF","backgroundBottomColor":"#0079BF","backgroundTopColor":"#0079BF","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"limits":{}}'
  recorded_at: Fri, 27 Apr 2018 15:45:46 GMT
- request:
    method: post
    uri: https://api.trello.com/1/lists?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Tracks&closed=false&idBoard=5ae345aac374e6711d50a596&pos&idListSource
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - '318'
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1524843947094'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c-E3Cy0J3ld04fYr2/dVIuvbpws3Q"
    body:
      encoding: UTF-8
      string: '{"id":"5ae345abf8f3e118053a68ba","name":"Tracks","closed":false,"idBoard":"5ae345aac374e6711d50a596","pos":8192,"limits":{}}'
  recorded_at: Fri, 27 Apr 2018 15:45:47 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/labels?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Sticky&color&idBoard=5ae345aac374e6711d50a596
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - '318'
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '296'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '96'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '196'
      X-Server-Time:
      - '1524843947718'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f-113fCcvVE+cH/87MqxkpicLmPlE"
    body:
      encoding: UTF-8
      string: '{"id":"5ae345ab4fd5ab6c5a72f64a","idBoard":"5ae345aac374e6711d50a596","name":"Sticky","color":null,"limits":{}}'
  recorded_at: Fri, 27 Apr 2018 15:45:47 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/labels?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=CI&color&idBoard=5ae345aac374e6711d50a596
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - '318'
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '294'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '94'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '194'
      X-Server-Time:
      - '1524843948258'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6b-AVmDi+8mF3pPa76EWDIt0GJ/ndQ"
    body:
      encoding: UTF-8
      string: '{"id":"5ae345acdc71721910d520a2","idBoard":"5ae345aac374e6711d50a596","name":"CI","color":null,"limits":{}}'
  recorded_at: Fri, 27 Apr 2018 15:45:48 GMT
recorded_with: VCR 4.0.0
