---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/boards?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Pairing+Brett
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - '318'
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '293'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '93'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '193'
      X-Server-Time:
      - '1524843948594'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"347-L9BJCMTyqhReKxJ5wJWbeOAXVp8"
    body:
      encoding: UTF-8
      string: '{"id":"5ae345acc8d35e0ab1c8d1c4","name":"Pairing Brett","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/57AQ1NZT/pairing-brett","shortUrl":"https://trello.com/b/57AQ1NZT","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#0079BF","backgroundBottomColor":"#0079BF","backgroundTopColor":"#0079BF","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"limits":{}}'
  recorded_at: Fri, 27 Apr 2018 15:45:48 GMT
- request:
    method: post
    uri: https://api.trello.com/1/lists?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Tracks&closed=false&idBoard=5ae345acc8d35e0ab1c8d1c4&pos&idListSource
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - '318'
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '292'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '92'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '192'
      X-Server-Time:
      - '1524843948885'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c-LgIdeGmvJzrM3UBgAnN7yIgs8PU"
    body:
      encoding: UTF-8
      string: '{"id":"5ae345ace85fbeedee5a5842","name":"Tracks","closed":false,"idBoard":"5ae345acc8d35e0ab1c8d1c4","pos":8192,"limits":{}}'
  recorded_at: Fri, 27 Apr 2018 15:45:48 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/labels?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=Sticky&color&idBoard=5ae345acc8d35e0ab1c8d1c4
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - '318'
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '290'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '90'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '190'
      X-Server-Time:
      - '1524843949513'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f-cFVCP8a7IRDAKEQID/qoHVnpEjE"
    body:
      encoding: UTF-8
      string: '{"id":"5ae345ad20f6c8872478f585","idBoard":"5ae345acc8d35e0ab1c8d1c4","name":"Sticky","color":null,"limits":{}}'
  recorded_at: Fri, 27 Apr 2018 15:45:49 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/labels?key=mykey&token=mytoken
    body:
      encoding: UTF-8
      string: name=CI&color&idBoard=5ae345acc8d35e0ab1c8d1c4
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - '318'
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1524843950058'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6b-K0qREDTt0QrTVS8ROWzm9EL6uMs"
    body:
      encoding: UTF-8
      string: '{"id":"5ae345aec444c281fa7e8854","idBoard":"5ae345acc8d35e0ab1c8d1c4","name":"CI","color":null,"limits":{}}'
  recorded_at: Fri, 27 Apr 2018 15:45:50 GMT
recorded_with: VCR 4.0.0
