---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/xxxxx123?key=mykey&token=mytoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Trello-Version:
      - 1.823.0
      X-Trello-Environment:
      - Production
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"f-472b03d4"
    body:
      encoding: UTF-8
      string: board not found
  recorded_at: Thu, 08 Dec 2016 14:37:42 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/neUHHzDo?key=mykey&token=mytoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.823.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1481207878569'
      X-Trello-Index-Last-Update:
      - '320'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"333-74078a25"
    body:
      encoding: UTF-8
      string: '{"id":"577b6e6e00d1313a68d3a60a","name":"Test Planning Board","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/neUHHzDo/test-planning-board","shortUrl":"https://trello.com/b/neUHHzDo","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"sky","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#00AECC","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"Needs
        QA","yellow":"Under waterline","orange":"","red":"","purple":"Dependent","blue":"Sticky","sky":"","lime":"","pink":"","black":"Pairing"}}'
  recorded_at: Thu, 08 Dec 2016 14:37:58 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/577b6e6e00d1313a68d3a60a/lists?filter=open&key=mykey&token=mytoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.823.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1481207878842'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"220-3da36da7"
    body:
      encoding: UTF-8
      string: '[{"id":"57a78bc5980cdceb09195dc9","name":"Backlog Backup","closed":false,"idBoard":"577b6e6e00d1313a68d3a60a","pos":36863,"subscribed":false},{"id":"58496eff1a13c296478de254","name":"Backlog123","closed":false,"idBoard":"577b6e6e00d1313a68d3a60a","pos":84079,"subscribed":false},{"id":"577b6e75ce0f88ec9af823c0","name":"Done","closed":false,"idBoard":"577b6e6e00d1313a68d3a60a","pos":131071,"subscribed":false},{"id":"578e03cf104153b060cc27bd","name":"Ready","closed":false,"idBoard":"577b6e6e00d1313a68d3a60a","pos":344063,"subscribed":false}]'
  recorded_at: Thu, 08 Dec 2016 14:37:58 GMT
recorded_with: VCR 3.0.3
